.formWrapper {
  min-width: 800px;
  max-width: 800px;
  padding: 0 2rem;
}

.form {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 1rem;
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.item {
  margin-bottom: 1rem;
}

.label {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.2rem;
}

.input {
  font-size: 1.2rem;
  width: 100%;
}

.submit {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
}

.successBox {
  background: #adffb4;
  border: 1px solid #6a6a6a;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 2rem;
}
