.form {
  padding: 1.5em;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  background: var(--white);
  color: var(--blue);
}

.form-title {
  font-size: 1.5em;
  color: var(--white);
}

.form-description {
  margin: 1em 0;
  line-height: 1.5;
  font-size: 1.1em;
  color: var(--white);
}

.item {
  margin-bottom: 1em;
}

.checkboxContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 20px;
}

.flex {
  display: flex;
}

.checkbox {
  max-width: 20px;
}

.label {
  margin: 4em 0;
  line-height: 1.5;
  font-size: 1.1em;
}

.success-box {
  background: #adffb4;
  border: 1px solid #6a6a6a;
  border-radius: 0.5em;
  padding: 1em;
  margin-top: 2em;
}

.error-box {
  background: #ffaaaa;
  border: 1px solid #6a6a6a;
  border-radius: 0.5em;
  padding: 1em;
  margin-top: 2em;
}
