.wrapper {
  max-width: 800px;
  padding: 0 2rem;
}

.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

a.link,
a.link:hover,
a.link:focus,
a.link:active {
  color: #0070f3;
}
