.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.list {
  width: 300px;
}

.grid {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 65em;
  gap: 1.5em;
}

.card {
  padding: 1.5em;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  background: var(--white);
  color: var(--blue);
}

.card h2 {
  margin: 0 0 1em 0;
  font-size: 1.25em;
}

.card p + h2 {
  margin: 1em 0;
}

.card p {
  margin: 0;
  font-size: 1.25em;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
